# this is apparantly the file syntax for gitignore, like if its in the same directory and all that
# if we don't add this file and this line the github will be flooded with a bunch of garbage.
node_modules/

remote/.env
remote/APIconfig.js